node_modules
dist
*.cert.pem
*.private.key
*.public.key
*.crt
certs/
.env
.env.local
log1.txt
log2.txt
logs/*
redis-data/dump.rdb
redis-data/appendonly.aof
jobs
me.cert.pfx
.DS_Store
update.log
dependencies