[Unit]
Description=MyAppCafeControl
After=network.target systemd-timesyncd

[Service]
ExecStart=node /home/pi/srv/MyAppCafeControl/dist/index.js
WorkingDirectory=/home/pi/srv/MyAppCafeControl/
StandardOutput=/home/pi/srv/MyAppCafeControl/log.txt
StandardError=/home/pi/srv/MyAppCafeControl/log.txt
RestartSec=10
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=10
User=pi

[Install]
WantedBy=multi-user.target